<!-- This is the base template for all pages
which include all common head tag and body end partial templates. -->

{{ $lang := or .Site.LanguageCode "en-US" }}

<!DOCTYPE html>
<html lang="{{ $lang }}" dir="ltr" class="all:transition-all all:duration-300">
{{ partial "head.html" . }}

<body class="
      bg-white
      font-sans
      text-blue-gray-600
      antialiased
      dark:bg-dark-700 dark:text-warm-gray-200
    ">
  {{ partial "Header.html" . }}
  <!-- This is the kind of block scope that can be override by child layouts.
  Similar to Jinja template block. -->
  {{ block "main" . }} {{ end }} {{ partial "body-end.html" . }}
</body>

</html>