{{ $tags := .Params.tags }}

<main class="min-w-0 py-6 px-6 prose prose-red">
  {{ if $tags }}
  <div class="pb-2">
    {{ range $tags }}
    <span class="text-sm not-last:mr-2">
      <a href="/tags/{{ . | urlize }}/">
        #{{ . }}
      </a>
    </span>
    {{ end }}
  </div>
  {{ end }}
  {{ if and (.Date) (eq .Section "posts") }}
  <div class="pb-2">
    <time datetime="{{ time .Date }}">
      <span class="sr-only">Published on</span>
      {{ .Date.Format "January 2, 2006" }} –
      {{ if gt .ReadingTime 1 }}
      <span>{{ .ReadingTime }} mins</span>
      {{ else }}
      <span>{{ .ReadingTime }} min</span>
      {{ end }}
    </time>
  </div>
  {{ end }}
  {{ .Content }}
  <p>Last updated:
    <time datetime="{{ time .Lastmod }}">{{ dateFormat "January 2, 2006" .Lastmod }}</time>
  </p>
  {{ partial "NextAndPrevLinks.html" . }}
</main>
