<main class="py-6 px-6 prose prose-red">
  {{ .Content }}
  <div class="grid py-6 gap-4 grid-cols-1 lg:grid-cols-3">
    <div class="border rounded-lg bg-red-100 border-red-500 p-4 transition-shadow duration-300 dark:bg-dark-400 dark:shadow-red-500 hover:shadow-xl">
      <a href="/tutorials/">
        <h2 class="!mt-2">Tutorials</h2>
      </a>
      <p>Learn to use PyTorch-Ignite by doing end-to-end in-depth tutorials. We also provide links to Google Colab
        Notebooks.</p>
    </div>
    <div
      class="border rounded-lg bg-green-100 border-green-500 p-4 transition-shadow duration-300 dark:bg-dark-400 dark:shadow-green-500 hover:shadow-xl">
      <a href="/how-to-guides/">
        <h2 class="!mt-2">How-to Guides</h2>
      </a>
      <p>Understand the concepts and how-to tips, and best practices of PyTorch-Ignite.</p>
    </div>
    <div
      class="border rounded-lg bg-blue-100 border-blue-500 p-4 transition-shadow duration-300 dark:bg-dark-400 dark:shadow-blue-500 hover:shadow-xl">
      <a href="https://pytorch.org/ignite/engine.html" target="_blank" rel="noopener noreferrer">
        <h2 class="!mt-2">API Reference</h2>
      </a>
      <p>Access comprehensive developer documentation for PyTorch-Ignite.</p>
    </div>
  </div>
</main>