{{ $RelPermalink := .RelPermalink }}

<div class="p-1 relative group lg:p-2">
  <button class="dropDownBtn" aria-label="Toggle Dropdown">{{ .text }}</button>
  {{ partial "icons/ChevronRight.html" . }}
  <ul id="dropDownList" class="
      bg-white
      border
      rounded-lg
      min-w-50
      p-2
      right-0
      hidden
      lg:absolute
      dark:bg-dark-700 dark:border-dark-200
      lg:group-hover:block
    ">
    {{ range .children }}
    <li class="
        children:rounded-lg children:hover:bg-gray-200
        dark:children:hover:bg-dark-200
      ">
      {{ partial "NavLink.html" (dict "link" .link "text" .text "RelPermalink" $RelPermalink) }}
    </li>
    {{ end }}
  </ul>
</div>