<div class="border-t grid py-6 gap-x-4 grid-cols-2 dark:border-dark-200">
  <div>
    {{ if .NextInSection }}
    <a href="{{ .NextInSection.RelPermalink }}" class="group">
      {{ partial "icons/ArrowLeft.html" . }}
      <span class="overflow-hidden"></span>{{ .NextInSection.Title }}</span>
    </a>
    {{ end }}
  </div>
  <div>
    {{ if .PrevInSection }}
    <a href="{{ .PrevInSection.RelPermalink }}" class="group float-right">
      <span class="overflow-hidden">{{ .PrevInSection.Title }}</span>
      {{ partial "icons/ArrowRight.html" . }}
    </a>
    {{ end }}
  </div>
</div>