{{/*
<!-- prettier-ignore -->
*/}}
{{ $active := "" }}
{{/*
<!-- prettier-ignore -->
*/}}
{{ $url := .RelPermalink }}

<aside
  class="
    bg-white
    h-$aside-height
    top-$header-height
    py-3
    px-6
    transform
    transition-transform
    z-10
    duration-300
    fixed
    overflow-y-auto
    lg:sticky <lg:border-r
    <lg:-translate-x-full
    <lg:w-64
    dark:bg-dark-700
    dark:border-dark-200
  "
  id="sidebar"
>
  <div class="border-b lg:hidden dark:border-dark-200">{{ partial "NavBar.html" . }}</div>
  <nav class="py-3 px-1">
    {{ if eq .Section "blog" }}
      <h5 class="font-semibold py-1 uppercase">{{ .Section }}</h5>
      <ul class="px-2 pb-4">
        {{ range where .Site.RegularPages "Section" .Section }}
        <li class="py-1">

          {{/* <!-- prettier-ignore --> */}}
          {{ if eq $url .RelPermalink }}
            {{/* <!-- prettier-ignore --> */}}
            {{ $active = "text-$c-primary" }}
          {{/* <!-- prettier-ignore --> */}}
          {{ end }}

          <a
            href="{{ .RelPermalink }}"
            class="{{ $active }} hover:text-$c-primary py-1"
            >{{ .Title }}</a
          >
          {{ if $active }}
          <div class="text-sm px-2 lg:hidden">{{ .TableOfContents }}</div>
          {{ end }}
          {{ $active = "" }}
        </li>
        {{ end }}
      </ul>
    {{ else }}
      {{ range .Site.Sections }}
        {{ if in (slice "tutorials" "how-to-guides") .Section }}
          <h5 class="font-semibold py-1 uppercase">{{ .Section }}</h5>
          <ul class="px-2 pb-4">
          {{ range where .Site.RegularPages "Section" .Section }}
            <li class="py-1">

            {{/* <!-- prettier-ignore --> */}}
            {{ if eq $url .RelPermalink }}
              {{/* <!-- prettier-ignore --> */}}
              {{ $active = "text-$c-primary" }}
            {{/* <!-- prettier-ignore --> */}}
            {{ end }}

            <a
              href="{{ .RelPermalink }}"
              class="{{ $active }} hover:text-$c-primary py-1"
              >{{ .Title }}</a
            >
            {{ if $active }}
              <div class="text-sm px-2 lg:hidden">{{ .TableOfContents }}</div>
            {{ end }}
            {{ $active = "" }}
            </li>
          {{ end }}
          </ul>
        {{ end }}
      {{ end }}
    {{ end }}
  </nav>
</aside>
