{{- $sponsors := .Params.sponsors }}

<section class="section-sponsors">
  <div class="inner">
    <h2 class="title">With the support of:</h2>
    <div class="sponsors">
      {{- range $sponsors -}}
      <a href="{{ .url }}" target="_blank" rel="sponsored noopener" class="sponsor">
        <img src="{{ .img }}" alt="{{ .name }}" width="160">
      </a>
      {{- end -}}
    </div>
    <a href="https://opencollective.com/pytorch-ignite" class="become-sponsor" target="_blank" rel="sponsored noopener">
      Support PyTorch-Ignite
    </a>
  </div>
</section>
