.copy-code-button {
  border-radius: 4px;
  background: #f6f6f6;
  padding: 4px 8px;
  border: 1px solid #ccc;
  position: absolute;
  right: 0;
}
.copy-code-button:hover {
  cursor: pointer;
}
.chroma {
  border-radius: 4px;
}
