.copy-code-button {
  border-radius: 4px;
  background: #6A737D;
  padding: 4px 8px;
  margin: 8px;
  border: 1px solid #6A737D;
  position: absolute;
  right: 0;
  color: #E1E4E8;
}
.copy-code-button:hover {
  cursor: pointer;
}
.highlight {
  position: relative;
}
