.section .blogs .blog img {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  margin-right: 2rem;
}
.blogs {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}
.blog .row {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.date {
  margin-bottom: 0.5rem;
}
