.posts.main {
  max-width: 60rem;
  margin: 1rem auto;
  padding: 0 1rem;
}
.posts .title {
  font-size: 2.5rem;
  font-weight: 600;
}
.posts .subtitle {
  padding: 1rem 0;
}
.posts .divide {
  padding: 1rem 0;
}
.blog {
  padding: 1.5rem 0;
  border-top: 1px solid #eee;
}
.blog img {
  border-radius: 12px;
  width: 50%;
  height: 50%;
}
.blog-title {
  font-size: 1.75rem;
  padding: 1rem 0;
}
.summary {
  padding: 1rem 0;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clear: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}
.post-title {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
  font-family: "Inter" !important;
}
.post-image {
  padding-top: 1rem;
}
.column .date {
  text-align: center;
}
