{{- $logo     := .Params.sidebarlogo }}
{{- $currentTitle := .Title }}
{{- $dir := trim .File.Dir "/" }}
<div class="sidebar">
  <div class="sidebar-header">
    <div class="text">
      {{ title $dir }}
    </div>
  </div>
  <div class="inner">
  <aside>
    <ul>
      {{ range where .Site.RegularPages "Section" $dir }}
      <li>
        <a href="{{ .RelPermalink }}" class="{{ if eq .Title $currentTitle }}active{{ end }}">
          {{ .Title }}
        </a>
        {{- if eq .Title $currentTitle -}}
        {{ .TableOfContents }}
        {{- end -}}
      </li>
      {{ end }}
    </ul>
  </aside>
  </div>
</div>
