{{ define "main" }}
<main class="mx-auto max-w-3xl py-12 px-6 prose prose-red">
  {{ .Content }}
  <ul class="divide-y border-t dark:divide-dark-200 dark:border-dark-200">
    {{ range .Pages.ByDate.Reverse }}
    <li class="!pl-0 before:hidden">
      <article>
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <time datetime="{{ time .Date }}">
          <span class="sr-only">Published on</span>
          {{ .Date.Format "January 2, 2006" }} –
          {{ if gt .ReadingTime 1 }}
          <span>{{ .ReadingTime }} mins</span>
          {{ else }}
          <span>{{ .ReadingTime }} min</span>
          {{ end }}
        </time>
        {{ if .Params.image }}
        <img src="{{ .Params.image }}" alt="{{ .Params.alt }}" width="120" height="100%"
          class="rounded-lg mx-auto w-4/5" />
        {{ end }}
        {{ partial "Summary.html" . }}
        <a href="{{ .RelPermalink }}" class="group">Read More{{ partial "icons/ArrowRight.html" . }}</a>
      </article>
    </li>
    {{ end }}
  </ul>
</main>
{{ end }}