{{ define "main" }}
<main class="mx-auto max-w-3xl py-12 px-6 prose prose-red">
  <time datetime="{{ time .Date }}">
    <span class="sr-only">Published on</span>
    {{ .Date.Format "January 2, 2006" }} –
  </time>
  {{ range .Params.tags }}
  <span class="rounded-lg bg-red-500 text-sm py-1 px-2 not-last:mr-2">
    <a href="/tags/{{ . | urlize }}/" class="!text-white !no-underline">
      {{ . }}
    </a>
  </span>
  {{ end }}
  <div class="py-3">Last updated: {{ dateFormat "January 2, 2006" .Lastmod }}</div>
  {{ .Content }}
  {{ partial "NextAndPrevLinks.html" . }}
</main>
{{ end }}