{{ define "main" }}
<main class="mx-auto max-w-3xl py-12 px-6 prose prose-red">
  <div class="py-3">
    {{ range .Params.tags }}
    <span class="text-sm not-last:mr-2">
      <a href="/tags/{{ . | urlize }}/">
        #{{ . }}
      </a>
    </span>
    {{ end }}
    <div>
      <time datetime="{{ time .Date }}">
        <span class="sr-only">Published on</span>
        {{ .Date.Format "January 2, 2006" }}
      </time>
    </div>
  </div>
  {{ .Content }}
  {{ partial "NextAndPrevLinks.html" . }}
</main>
{{ end }}