{{- define "main" -}}
<main class="posts main">
  <div class="divide">
  <h1 class="title">{{ .Title }}</h1>
  <p class="subtitle">{{ .Params.subtitle }}</p>
  </div>
  <ul class="blogs">
    {{ range .Pages }}
    <li class="blog">
      <article class="article">
        <div class="date">
          <span class="sr-only">Published on</span>
          {{ .Date.Format "January 2, 2006" }}
        </div>
        <div class="line">
          <h1 class="blog-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
          <p align="center">
          <img src="{{ .Params.image }}" alt="{{ .Params.alt }}" />
          </p>
          <div class="summary">{{ .Summary }}</div>
          <div class="read-more"><a href="{{ .RelPermalink }}">Read More →</a></div>
        </div>
      </article>
    </li>
    {{ end }}
  </ul>
</main>
{{- end -}}
