{{- define "main" -}}
<!-- This template apply to all other *.md except for _index.md -->
<!-- Based from layouts/partials/single/content.html -->
<section class="section is-medium {{ if .Params.sidebar }}has-sidebar{{ end }}">
  <div class="container {{ if .Params.sidebar }}sidebar-on{{ end }}">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        {{- if .Params.date -}}
        <div class="date">
          <span class="sr-only">Published on</span>
          {{ .Date.Format "January 2, 2006" }}
        </div>
        <h1 class="post-title">{{ .Title }}</h1>
        {{- end -}}
        {{- if .Params.image -}}
        <div class="post-image">
        <img src="{{ .Params.image }}" alt="{{ .Params.alt }}">
        </div>
        {{- end -}}
        <h5 class="subtitle is-muted is-5">{{ .Params.Subtitle }}</h5>
        <div class="divider"></div>
        <div class="mt-20 tags">
          {{ range .Params.tags }}
          <span class="tag">
            <a href="/tags/{{ . | urlize }}">
            {{ . }}
            </a>
          </span>
          {{ end }}
        </div>
        <div class="">Last updated: {{ dateFormat "2006-01-02" .Lastmod }}</div>
      </div>
    </div>

    <div class="content">
      {{ .Content }}
    </div>
    {{ partial "prev-next.html" . }}
  </div>
</section>
{{- end -}}
