{{/*
<!-- prettier-ignore -->
*/}}
{{ define "main" }}

{{/*
<!-- prettier-ignore -->
*/}}
{{ $featuredPost := .Params.featuredPost }}
{{/*
<!-- prettier-ignore -->
*/}}
{{ $features := .Params.features }}
{{/*
<!-- prettier-ignore -->
*/}}
{{ $docs := .Params.docs }}
{{/*
<!-- prettier-ignore -->
*/}}
{{ $ecosystem := .Params.ecosystem }}
{{/*
<!-- prettier-ignore -->
*/}}
{{ $sponsors := .Params.sponsors }}
{{/*
<!-- prettier-ignore -->
*/}}
{{ $footer := .Params.footer }}

<section class="mx-auto max-w-6xl py-6 px-4">
  <div class="grid gap-4 justify-items-center sm:grid-cols-2">
    <img
      src="{{ .Params.image | relURL }}"
      alt="PyTorch-Ignite logo"
      width="120"
      height="120"
      class="h-full w-4/5 sm:row-span-2 lg:w-3/5"
      loading="lazy"
    />
    <h1
      class="
        bg-gradient-to-br
        font-semibold
        text-2xl
        lg:text-3xl
        dark:bg-clip-text
        dark:from-red-500
        dark:to-amber-400
        dark:text-transparent
      "
    >
      {{ .Params.description }}
    </h1>
    <a
      href="{{ .Params.actionLink }}"
      class="
        rounded-lg
        font-semibold
        bg-gray-200
        w-max
        py-3
        px-6
        place-self-start
        group
        sm:col-start-2
        dark:bg-dark-200
      "
    >
      {{ .Params.actionText }}
      {{ partial "icons/ArrowRight.html" . }}
    </a>
  </div>
</section>

{{ if $featuredPost }} {{ with $featuredPost }}
<section class="bg-$c-primary text-center p-4">
  <a
    href="{{ .link }}"
    target="_blank"
    rel="noopener noreferrer"
    class="font-semibold text-white lg:text-xl hover:underline"
    id="featured-post-link"
  >
    {{ .title }}
  </a>
</section>
{{ end }} {{ end }}

<section
  class="
    mx-auto
    max-w-6xl
    grid
    py-6
    px-4
    gap-y-4
    gap-x-8
    grid-cols-1
    items-center
    lg:grid-flow-row-dense
    lg:grid-cols-2
  "
>
  {{ range $idx, $_ := $features }}
  {{ if eq (mod $idx 2) 1 }}
    <div class="lg:col-start-2 lg:col-span-1">
      <h2 class="font-light text-xl uppercase lg:text-2xl">{{ .title }}</h2>
      <p class="py-2 text-blue-gray-400">{{ .details }}</p>
    </div>
    <div class="prose lg:col-start-1 lg:col-span-1">{{ .code | markdownify }}</div>
  {{ else }}
    <div>
      <h2 class="font-light text-xl uppercase lg:text-2xl">{{ .title }}</h2>
      <p class="py-2 text-blue-gray-400">{{ .details }}</p>
    </div>
    <div class="prose">{{ .code | markdownify }}</div>
  {{ end }}
  {{ end }}
</section>

<section class="mx-auto max-w-6xl py-6 px-4">
  <h2 class="text-xl uppercase lg:text-2xl">Ecosystem</h2>
  <div class="grid py-3 gap-4 sm:grid-cols-3">
    {{ range $ecosystem }}
    <a
      href="{{ .url }}"
      target="_blank"
      rel="noopener noreferrer"
      class="
        border
        rounded-lg
        py-2
        px-4
        group
        dark:border-dark-200 dark:shadow-red-500
        hover:shadow-xl
      "
    >
      <p class="font-semibold py-3 group-hover:text-$c-primary">{{ .title }}</p>
      <p>{{ .text | markdownify }}</p>
    </a>
    {{ end }}
  </div>
  <a
    href="/ecosystem/"
    class="
      rounded-lg
      font-semibold
      bg-gray-200
      w-max
      py-3
      px-6
      group
      inline-block
      dark:bg-dark-200
    "
    >See all projects {{ partial "icons/ArrowRight.html" . }}
  </a>
</section>

<section class="mx-auto max-w-6xl py-6 px-4">
  <h2 class="text-xl pb-4 uppercase lg:text-2xl">Follow Us on Twitter</h2>
  <div
    class="twitter-tweets"
    id="twitter-tweets"
    data-target="twitter-timeline"
  >
  <a
    class="twitter-timeline"
    href="https://twitter.com/pytorch_ignite"
    data-height="0"
    data-chrome="noheader nofooter noborders transparent noscrollbar"
    data-tweet-limit="3"
    data-link-color="#e44c2c"
    data-dnt="true"
  >Loading Twitter Timeline...</a>
  </div>
</section>

<section class="mx-auto text-center max-w-6xl py-6 px-4">
  <h2 class="text-xl uppercase lg:text-2xl">With the support of:</h2>
  <div class="my-4">
    {{ range $sponsors }}
    <a
      href="{{ .url }}"
      target="_blank"
      rel="sponsored noopener"
      class="mx-4 inline-block align-middle"
    >
      <img src="{{ .img }}" alt="{{ .name }}" width="160" loading="lazy" height="100%"/>
    </a>
    {{ end }}
  </div>
  <a
    href="https://opencollective.com/pytorch-ignite"
    class="
      border-$c-primary border
      rounded-lg
      font-semibold
      py-3
      px-6
      inline-block
      hover:bg-$c-primary hover:text-white
    "
    target="_blank"
    rel="sponsored noopener"
  >
    Support PyTorch-Ignite
  </a>
</section>

<footer
  class="border-t mx-auto text-center max-w-6xl py-6 px-4 dark:border-dark-200"
>
  <div class="p-4">
    {{ range $footer }}
    <a
      href="{{ .url }}"
      class="mx-2 text-blue-gray-400 inline-block hover:text-blue-gray-500"
    >
      <span class="sr-only">{{ .name }}</span>
      {{ partial (printf "icons/%s.html" .name) . }}
    </a>
    {{ end }}
  </div>
  <span class="py-6 !block">
  BSD-3-Clause Licensed | Copyright &copy; {{ now.Format "2006" }}
  PyTorch-Ignite Contributors
  </span>
</footer>
{{ end }}
