{{- if .Params.include_footer -}}
{{- partial "footer.html" . -}}
{{- end -}}

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

{{- if .Site.Params.sidebar -}}
{{- partial "sidebar.html" . -}}
{{- end -}}

<script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script>
{{ $modernizr := resources.Get "js/modernizr.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $modernizr.RelPermalink }}"></script>
<script src='{{ "js/fresh.js" | relURL }}'></script>
<script src='{{ "js/jquery.panelslider.min.js" | relURL }}'></script>
{{- if (findRE "<pre" .Content 1) -}}
  {{ $style := resources.Get "css/syntax.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  {{ $style := resources.Get "css/copy-code.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  {{ $script := resources.Get "js/copy-code.js" | resources.Minify | resources.Fingerprint }}
  <script src="{{ $script.RelPermalink }}"></script>
{{- end -}}
