<section class="section is-medium" style="background: #323232;">
  <div class="container docs">
    <div class="admonition">
      <h3 class="title-2">API Reference</h3>
      <p>Access comprehensive developer documentation for PyTorch-Ignite</p>
      <a href="https://pytorch.org/ignite/engine.html">View API Reference →</a>
    </div>
    <div class="admonition">
      <h3 class="title-2">Tutorials</h3>
      <p>Get in-depth tutorials for beginners and advanced developers</p>
      <a href="/tutorials/">View Tutorials →</a>
    </div>
    <div class="admonition">
      <h3 class="title-2">How-to-Guides</h3>
      <p>Find short to the point how-to tips, tricks and best practices</p>
      <a href="/how-to-guides/">View How-to-Guides →</a>
    </div>
  </div>
</section>
