<div class="prev-n-next">
{{- if .PrevInSection -}}
<div class="prev">
  <a href="{{ .PrevInSection.RelPermalink }}" class="link">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify icon-prev iconify--carbon" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path d="M14 26l1.41-1.41L7.83 17H28v-2H7.83l7.58-7.59L14 6L4 16l10 10z" fill="currentColor"></path></svg>
    <span class="text">{{ .PrevInSection.Title }}</span>
  </a>
</div>
{{- end -}}
{{- if .NextInSection -}}
<div class="next">
  <a href="{{ .NextInSection.RelPermalink }}" class="link">
    <span class="text">{{ .NextInSection.Title }}</span>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify icon-next iconify--carbon" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path d="M18 6l-1.43 1.393L24.15 15H4v2h20.15l-7.58 7.573L18 26l10-10L18 6z" fill="currentColor"></path></svg>
  </a>
</div>
{{- end -}}
</div>
