{{- $section2 := .Site.Params.section2 }}
{{- $title    := index $section2 "title" }}
{{- $subtitle := index $section2 "subtitle" }}
{{- $features := index $section2 "features" }}
<section class="section is-medium" style="background: #fcfcfc;">
  <div class="container">
    <div class="column is-centered-tablet-portrait">
      <h2 class="title section-title">{{ $title }}</h2>
      <h3 class="subtitle is-muted is-5">{{ $subtitle }}</h3>
      <div class="divider"></div>
    </div>
    <a href="/ecosystem/" class="ecosystem-link">See all projects</a>
    <div class="columns">
      {{- range $features }}
      <article class="media icon-box">
        <div class="mt-20 media-content">
          <a href="{{ .link }}" target="_blank" rel="noopener noreferrer" class="content">
            <p>
              <span class="icon-box-title">{{ .title }}</span>
              <span class="icon-box-text">{{ .text | markdownify }}</span>
            </p>
          </a>
        </div>
      </article>
      {{- end }}
    </div>
  </div>
</section>
