{{ define "main" }}

{{ $featuredPost := .Params.featuredPost }}
{{ $features := .Params.features }}
{{ $ecosystem := .Params.ecosystem }}
{{ $sponsors := .Params.sponsors }}
{{ $footer := .Params.footer }}

<section class="mx-auto max-w-6xl py-12 px-6">
  <div class="grid gap-4 grid-cols-2 place-items-center <sm:grid-cols-1 <sm:grid-rows-3">
    <img src="{{ .Params.image | relURL }}" alt="PyTorch-Ignite logo" width="120" height="120"
      class="h-full w-3/5 <sm:w-full">
    <h1
      class="font-semibold text-3xl dark:bg-clip-text dark:bg-gradient-to-br dark:from-red-500 dark:to-amber-400 dark:text-transparent">
      {{ .Params.description }}
    </h1>
    <a href="{{ .Params.actionLink }}"
      class="rounded-lg font-semibold bg-gray-200 w-max py-3 px-6 transition-all duration-500 place-self-start group sm:col-start-2 dark:bg-dark-200">
      {{ .Params.actionText }}
      {{ partial "icons/ArrowRight.html" . }}
    </a>
  </div>
</section>

{{ if $featuredPost }}
{{ with $featuredPost }}
<section class="bg-$c-primary text-center p-4 px-6">
  <a href="{{ .link }}" target="_blank" rel="noopener noreferrer"
    class="font-semibold text-xl text-white hover:underline">
    {{ .title }}
  </a>
</section>
{{ end }}
{{ end }}

<section class="mx-auto max-w-6xl grid py-12 px-6 gap-4 grid-cols-2 place-items-center <sm:grid-cols-1">
  {{ range $idx, $_ := $features }}
  <div class="w-full">
    <h2 class="font-light text-2xl uppercase">{{ .title }}</h2>
    <p class="py-2 text-blue-gray-500">{{ .details }}</p>
  </div>
  <div class="w-full">
    {{ .code | markdownify }}
  </div>
  {{ end }}
</section>

<section
  class="bg-gray-200 text-center grid py-12 px-6 transition-all gap-4 grid-cols-3 duration-500 <sm:grid-cols-1 dark:bg-dark-400">
  <div>
    <h2 class="font-semibold text-xl">API Reference</h2>
    <p class="py-2">Access comprehensive developer documentation for PyTorch-Ignite</p>
    <a href="https://pytorch.org/ignite/engine.html" class="text-red-500">View API Reference →</a>
  </div>
  <div>
    <h2 class="font-semibold text-xl">Tutorials</h2>
    <p class="py-2">Get in-depth tutorials for beginners and advanced developers</p>
    <a href="/tutorials/" class="text-red-500">View Tutorials →</a>
  </div>
  <div>
    <h2 class="font-semibold text-xl">How-to-Guides</h2>
    <p class="py-2">Find short to the point how-to tips, tricks and best practices</p>
    <a href="/how-to-guides/" class="text-red-500">View How-to-Guides →</a>
  </div>
</section>

<section class="mx-auto max-w-6xl py-12 px-6 relative">
  <h2 class="text-3xl">Ecosystem</h2>
  <a href="/ecosystem/"
    class="rounded-lg font-semibold bg-gray-200 w-max py-3 px-6 transition-all top-10 right-0 duration-500 place-self-start group inline-block absolute dark:bg-dark-200 ">See
    all
    projects
    {{ partial "icons/ArrowRight.html" . }}
  </a>
  <div class="grid py-3 gap-4 grid-cols-3 <sm:grid-cols-1">
    {{ range $ecosystem }}
    <a href="{{ .url }}" target="_blank" rel="noopener noreferrer"
      class="border rounded-lg p-4 transition-all duration-500 group dark:border-dark-200 dark:shadow-red-500 hover:shadow-xl">
      <span class="group-hover:text-$c-primary">{{ .title }}</span>
      <p>{{ .text | markdownify }}</p>
    </a>
    {{ end }}
  </div>
</section>

<section class="mx-auto max-w-6xl py-12 px-6">
  <h2 class="text-3xl">Follow Us on Twitter</h2>
  <div class="twitter-tweets" id="twitter-tweets" data-target='twitter-timeline'></div>
  <a class="twitter-timeline" href="https://twitter.com/pytorch_ignite" data-height="0"
    data-chrome="noheader nofooter noborders transparent noscrollbar" data-tweet-limit="3" data-link-color="#e44c2c"
    data-dnt="true"></a>
</section>

<section class="mx-auto text-center max-w-6xl py-12 px-6">
  <h2 class="text-3xl">With the support of:</h2>
  <div class="my-4">
    {{ range $sponsors }}
    <a href="{{ .url }}" target="_blank" rel="sponsored noopener" class="mx-4 inline-block align-middle">
      <img src="{{ .img }}" alt="{{ .name }}" width="160">
    </a>
    {{ end }}
  </div>
  <a href="https://opencollective.com/pytorch-ignite"
    class="border-$c-primary border rounded-lg max-w-max py-2 px-4 inline-block hover:bg-$c-primary hover:text-white"
    target="_blank" rel="sponsored noopener">
    Support PyTorch-Ignite
  </a>
</section>

<footer class="border-t mx-auto text-center max-w-6xl py-12 px-6 transition-all duration-500 dark:border-dark-200">
  <div class="p-4">
    {{ range $footer }}
    <a href="{{ .url }}" class="mx-2 text-blue-gray-400 inline-block hover:text-blue-gray-500">
      <span class="sr-only">{{ .name }}</span>
      {{ partial (printf "icons/%s.html" .name) . }}
    </a>
    {{ end }}
  </div>
  BSD-3-Clause Licensed | Copyright &copy; {{ now.Format "2006" }} PyTorch-Ignite Contributors
</footer>
{{ end }}